<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gsap Landing Page Reveal|| Panther Layouts</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <div class="container">
			<div class="navbar">
				<div class="logo navbar-item">
					<ion-icon name="videocam-sharp"></ion-icon>
				</div>
				<div class="menu-toggle navbar-item">menu</div>
			</div>
			<div class="centerbar">
				<div class="block-1 centerbar-item">
					<div class="block-1-container">
						<span>produced by cg/'21</span>
					</div>
				</div>
				<div class="block-2 centerbar-item">
					<div class="block-2-container">
						open air show now <br />goes digital.
					</div>
				</div>
			</div>

			<div class="header">
				<div class="header-container">
					<div class="header-item">N</div>
					<div class="header-item">R</div>
				</div>
			</div>
			<div class="images">
				<div class="img img-one"></div>
				<div class="img img-two"></div>
				<div class="img img-three"></div>
			</div>
			<div class="bottombar">
				<div class="year bottombar-item">2021</div>
				<div class="mail bottombar-item">get in touch</div>
			</div>
		</div>
        <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"
      integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
